@{
    ViewData["Title"] = "About Us";
}
<section class="py-5 bg-light text-center">
    <div class="container">
        <h1 class="display-5 fw-bold mb-4 text-primary" data-aos="fade-down">About Us</h1>
        <div class="row justify-content-center align-items-center g-4">
            <div class="col-lg-6 col-md-12" data-aos="fade-right">
                <img src="/assets/images/aboutus/about-us.jpg" class="img-fluid rounded shadow" alt="Air Force School Yelahanka" />
            </div>
            <div class="col-lg-6 col-md-12 text-start" data-aos="fade-left">
                <p>
                    Air Force School, Yelahanka has been successfully imparting quality education for more than five decades.
                </p>
                <p>
                    This school was established initially as Nursery School during 1970-71 in the temporary building (T – 55) to cater to the educational needs of Tiny Tots of the station. Subsequently it was shifted to Cadets Mess building and T/55 was made available for Kendriya Vidyalaya (Primary Branch) of K.V. Hebbal and was named as Air Force Elementary School Yelahanka and established classes upto Std VII.
                </p>
                <p>
                    Simultaneously KV (Primary Branch of K.V. Hebbal) was upgraded as independent Kendriya Vidyalaya and shifted to Cadets Mess Complex. Class VII was introduced to Air Force School in 1988. Construction of its permanent building started on 19 Feb 1989 and was completed on 29th May 90.
                </p>
                <p>
                    The school started functioning in the permanent building from the academic session 1990 – 91. Class IX was introduced in the academic session 1993 – 94 due to over whelming demand from needful parents. The school attained the status of secondary school from the academic session 1994-95.
                </p>
                <p>
                    Although the school was established primarily for the benefit of children of Air Force personnel at Yelahanka, it has on its roll not only the children of other defence personnel but also of local civilians.
                </p>
            </div>
        </div>
    </div>
</section>
