@model Dictionary<string, Dictionary<string, string>>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var section in Model)
{
    <h3>@(section.Key)</h3>
    <ul>
        @foreach (var kv in section.Value)
        {
            <li><strong>@kv.Key</strong>: @kv.Value</li>
        }
    </ul>
}
